<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <util:list id="myList" value-type="java.lang.String">
    </util:list>

    <mongo:mongo host="localhost" port="27017" id="mongo" />
    <mongo:db-factory dbname="locationTracker" mongo-ref="mongo" id="mongoDbFactory" />

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
    </bean>

    <bean id="mongoOperations" class="com.MongoOperations">
        <constructor-arg name="mongoTemplate" ref="mongoTemplate"></constructor-arg>
        <constructor-arg name="locationDetail" ref="locationDetail"></constructor-arg>
    </bean>

    <bean id="locationDetail" class="com.LocationDetail">
        <property name="locationName" value=""></property>
        <property name="neighbours" ref="myList"></property>
    </bean>
</beans>